<!DOCTYPE html>
<html>
  <head>
    <title>Scrable Score</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body style="text-align: center; padding-top: 50px; background-color: #E6E6FA;">
    <h1>@Model.ScoreTotal</h1>
    <form action="/" method="post">
     <button type="submit">Check another!</button>
    </form>

  </body>
</html>